@import './_Variables.scss'; 

  body {
    background-image: url('./images/memobg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }

.App {
  text-align: center;
  margin: auto;
  box-sizing: border-box;
}

.App-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 20px;
  margin: auto;
  font-size: 30px;
}

h1 {
  font-weight: 300;
  border-bottom: 3px solid white;
} 


