@import './_Variables.scss'; 

article h3 {
 color: $btn-text-color;
 margin: 0px 6px;
}

article h2 {
  margin: 52px 0px;
  min-height: 7rem;
  min-width: 49rem;
}
 .answer-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   button {
    display: flow-root;
    border-radius: 8px;
    width: 241px;
    height: 69px;
    background-color: $card-info-color;
    color: $btn-text-color;
    cursor: pointer;
    &:hover {
      background-color: rgba(90, 143, 144, 0.75);
    }
  }
}

.show-result {
  font-size: 36px;
  text-transform: capitalize;
  min-height: 40px;
  margin: 34px 7px;
}
 .resource {
   font-size: 30px;
 }
