@import './_Variables.scss'; 

article h3 {
 color: $btn-text-color;
 margin: 0px 6px;
}

article h2 {
  margin: 52px 0px;
  min-height: 7rem;
}
 .answer-wrapper {
   @include displayFlex(space-around, null, null, row);
   
   button {
    display: flow-root;
    border-radius: 8px;
    width: 257px;
    height: 69px;
    background-color: $card-info-color;
    color: $btn-text-color;
    cursor: pointer;
    &:hover {
      background-color: rgba(90, 143, 144, 0.75);
    }
  }
}

.show-result {
  font-size: 36px;
  text-transform: capitalize;
  min-height: 40px;
  margin: 34px 7px;
}
 .resource {
   font-size: 30px;
 }

 @media only screen and (max-width: 1100px) {
  
  article h2 {
    @include displayFlex(center, center, center, null);
    margin: 5px 0px 22px 1px;
    font-size: 20px;
  }
  .answer-wrapper{
    @include displayFlex(space-evenly, center, center, column);
  }
  
  button {
    width: 90vw;
    margin: 3px 0px
  }

  .show-result {
    font-size: 20px;
    margin: 3px 0px;
    color: #ffff00;
  }
}