article h3 {
 font-size: 35px;
 background-color: #686868;
 color: white;
 
}

article h2 {
  margin: 52px 0px;
}
 .answer-wrapper {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   a {
    display: inline-block;
    border-radius: 8px;
    width: 198px;
    box-shadow: 7px 8px 7px 1px #928686d4, inset -2px -3px 7px 1px #fbfbfb4f;
    background-color: rgb(35, 0, 22);
    color: white;
  }
}

answerText {
 font-size: 1.3rem;
}

 .resource {
   font-size: 30px;
 }